.grid-container {
    display: grid;
    justify-content: space-around;
    grid-template-columns: 50px 50px 50px; /*Make the grid smaller than the container*/
    grid-gap: 10px;
    padding: 10px;
  }
  .width{
    width: 300px;
    height: 250px;
  }