img {
    width: 150px;
    height: 25px;
    padding-left: 20px;
   
}

.flex-container{
    display: flex;
    justify-content:space-between ;
    padding-top: 15px;
    padding-right: 25px;
}

.shadow {
    text-shadow: 2px 2px 5px #0A25D5;
    
}
.button {
    border-radius: 15px;
    box-shadow: 5px 3px 2px grey;
    background-color: #1D2E98;
    height: 30px;
}