img {
    width: 150px;
    height: 25px;
    padding-left: 20px;
   
}

.flex-container{
    display: flex;
    justify-content:space-between ;
    padding-top: 15px;
  
}

.shadow {
    text-shadow: 2px 2px 5px grey;
    font-size: 25px;
    color:grey;
}
.button {
    
    color: white;
    background-color: blue;
    height: 40px;
    width: 125px;
    border-bottom-left-radius: 20px 20px;
    border-top-left-radius: 20px 20px;
    text-align: center;
}