.flex {
    display: flex;
    justify-content: space-between;
    padding: 25px;
}
.card {
    display:flex;
    justify-content: space-between;
    width: 500px;
    height: 30px;
    border-radius: 15px;
    padding: 15px;
    border-style: initial;
    box-shadow: grey;
    margin-top: 10px;
    box-shadow: 5px 3px 3px 4px grey;
}
.select {
    display: flex;
    justify-content: flex-end;
    color: white;
    height: 35px;
  
    
}

.card:hover {
    background-color: grey;
}
.padding{
    padding-right: 30px;
}
.space{
    margin-left: 10px;
    background-color: white;
}
 .color {
     background-color: blue;
 }

 .size {
     font-size: 14px;
  
 }
 .text {
     text-align: left ;
 }
 @media screen and (max-width: 700px) {
    .card {
        display:flex;
        justify-content: space-between;
        width: 250px;
        height: 25px;
        border-radius: 15px;
        padding: 10px;
        border-style: initial;
        box-shadow: grey;
        margin-top: 10px;
        box-shadow: 5px 3px 3px 4px grey;
    }

  }